<h1>会員情報編集</h1>

<%= form_with model:@user, local: true do |f| %>

変更前画像<% attachment_image_tag @user, :image %>
<%= f.attachment_field :image %>
<%= f.text_field :user_name %>
<%= f.text_area :introduction %>
<%= f.submit '保存' %>

<% end %>