<h1>マイページ</h1>
<!--ユーザー情報-->
<div class="row">
  <div class="col-lg-4">
    <!--投稿者画像-->
    <%= attachment_image_tag(@user,:image, :fill, 300, 300, fallback: 'no_img.jpg') %>
  </div>
  <div class="col-lg-6">
    ユーザー名:
    <%= @user.user_name %>
    <br>
    自己紹介
    <%= @user.introduction %>
  </div>
  <%= link_to "アカウント削除", user_path(@user), method: :delete %>
</div>

<div class="row">
  <% if @user == current_user %>
    <%= link_to "編集", edit_user_path(current_user) %>
  <% end %>
</div>


<!-- follow機能 -->
<div>
  <% if current_user != @user %>
    <% if @user.followed_by?(current_user) %>
      <p><%=link_to "フォロー済み", user_relationship_path(@user.id), method: :delete %></p>
    <% else %>
      <p><%=link_to "フォローする", user_relationships_path(@user.id), method: :post %></p>
      <% end %>
  <% end %>
  <%= link_to "follows", follows_user_path(@user.id)%>
  <%= link_to "followers", followers_user_path(@user.id)%>

</div>

<P>-----------ここまでユーザー情報-------------</P>
<P>-----------ここから投稿一覧-------------</P>

<!--ユーザー投稿一覧-->
<%= render partial: "users/post_images", locals: { post_images: @post_images } %>