<div class = "row">
  <h1>投稿一覧</h1>
</div>

<div class = "row">
  <br>
  <% @post_images.each do |post_image| %>
    <div class = "col-3">
      <!--投稿画像-->
      <%= link_to post_image_path(post_image.id) do %>
        <%= attachment_image_tag post_image, :image, :fill, 300, 300 %>
      <% end %>
      <br>
      <!--投稿ユーザー情報-->
      <%= attachment_image_tag post_image.user, :image, :fill, 100, 100%>
      <%= post_image.user.user_name %>
      <br/>
      <p>説明<br>
        <%= post_image.caption %>
      </p>
      <p>投稿日<%= post_image.created_at.strftime('%Y/%m/%d') %></p>
    </div>
  <% end %>
</div>

