<h1>投稿フォーム</h1>
<%= form_with model: @post_image, local:true do |f| %>
  <h4>投稿画像</h4>
  <!--< %= f.attachment_field :image %>-->
  <%= f.attachment_field :pictures_images, multiple: true %>
  <h4>投稿コメント</h4>
  <%= f.text_area :caption %>
  <h4>タグ（・を入力することで複数のタグを付けることができます。）</h4>
  <%= f.text_field :tag_name, placeholder: "キッチン・収納・スッキリ" %>

  <%= f.submit '投稿' %>
<% end %>