<div class = "container">
<div class = "row">
  <!--ヘッダー部分-->
    <div class = "col-12">
      <%= render partial: "post_images/card-header", locals: { post_image: @post_image } %>
    </div>
  <!--メイン左側 画像部-->
    <div class ="col-lg-6 col-sm-12 ">
      <div class ="slick-pic">
        <% @post_image.pictures.each do |image| %>
          <div class= "b"><%= attachment_image_tag image, :image, class:"m-image" %></div>
        <% end %>
      </div>
    </div>
  <!--メイン右側 画像説明、コメント部分-->
    <div class ="col-6">
    <div class="card-body">
        <p><%= @post_image.caption %></p>
        投稿日:<%= @post_image.created_at %>
        <% if @post_image.user == current_user %>
          <%= link_to "削除", post_image_path(@post_image), method: :delete %>
          <%= link_to "編集", edit_post_image_path %>
        <% end %>
      <!--タグ機能-->
        <div class = "tag_field">
          <% @post_image_tags.each do |tag|%>
            <%= link_to tag.tag_name, tag_post_images_path(tag_id: tag.id) %>
            <%= "(#{tag.post_images.count})" %>
          <% end %>
        </div>
      <!--いいね機能の実装-->
        <div>
          <%= render partial: "post_images/favo", locals: { post_image: @post_image } %>
        </div>
      <!--コメント機能-->
        <%= render partial: "post_images/comment", locals: { post_image: @post_image, post_comment: @post_comment} %>
    </div>
    </div>
</div>
</div>