<% if user_signed_in? %>
  <li class="nav-item">
    <%= link_to "vidarica", root_path, {class: "nav-link"} %>
  </li>
  <li class="nav-item">
    <%= link_to "新規投稿", new_post_image_path, {class: "nav-link"} %>
  </li>
  <li class="nav-item">
    <%= link_to "投稿一覧", post_images_path, {class: "nav-link"} %>
  </li>
  <li class="nav-item">
    <%= link_to user_path(current_user), {class: "nav-link"} do %>
      <%= attachment_image_tag current_user, :image, fallback: 'no_img.jpg', class:"header-u-image" %>マイページ
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to "ログアウト", destroy_user_session_path, {method: :delete, class: "nav-link"} %>
  </li class="nav-item">
<% elsif admin_signed_in? %>
  <li class="nav-item">
    <%= link_to "タグ一覧", admin_tags_path, {class: "nav-link"} %>
  </li class="nav-item">
  <li class="nav-item">
    <%= link_to "ジャンル一覧", admin_genres_path, {class: "nav-link"} %>
  </li class="nav-item">
  <li class="nav-item">
    <%= link_to "ユーザー一覧", admin_users_path, {class: "nav-link"} %>
  </li class="nav-item">
  <li class="nav-item">
    <%= link_to "管理者ログアウト", destroy_admin_session_path, {method: :delete, class: "nav-link"} %>
  </li class="nav-item">
<% else %>
  <li class="nav-item">
    <%= link_to "vidarica", root_path, {class: "nav-link"} %>
  </li>
  <li class="nav-item">
     <%= link_to "新規登録", new_user_registration_path, {class: "nav-link"} %>
  </li>
  <li class="nav-item">
    <%= link_to "ログイン", new_user_session_path, {class: "nav-link"} %>
  </li>
<% end %>